doctype(lang="ja")
html
  head
    title ありがとうカウンタ
    meta(charset="UTF-8")
    link(rel="stylesheet" href="./index.css")
    script(src="./thankcnt.js" async)
  body
    ul(id="explain")
      li ありがとうと1回言ったら、ボタンをクリックください。
    button(id="cntButton") ありがとう
    div(id="result") 今日はまだ1度も「ありがとう」と言ってません。
    div(id="reach")
